<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h4>follow us</h4>
                <ul class="menu">
                    <li><a href="" title="Instagram">Instagram</a></li>
                    <li><a href="" title="Facebook">Facebook</a></li>
                    <li><a href="" title="Spotify">Spotify</a></li>
                    <li><a href="" title="YouTube">YouTube</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>Contact us</h4>
                <div class="contact">
                    <a href="mailto:info@hotpandamedia.com">info@hotpandamedia.com</a>
                    <a href="mailto:hotpandamedia.com">hotpandamedia.com</a>
                </div>
            </div>
            <div class="col-md-5">
                <h5>Subcribe to our newsletter</h5>
                <form action="" method="">
                    <input type="email" name="email" placeholder="Your email">
                </form>
                <a href="" title="" class="logo"><img src="./assets/img/logo-w.png" alt=""></a>
            </div>
        </div>
    </div>
</footer>