<header>
    <nav class="navbar">
        <button class="navbar-toggler" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="logo" href=""><img src="./assets/img/logo-w.png" alt=""></a>
        <div class="navbar-collapse">
            <ul class="navbar-nav flex ml-auto">
                <li>
                    <a href="http://localhost:8001/services1.html" title="Services">Services</a>
                    <ul class="sub-menu">
                        <li><a href="" title="">ARTISTS</a></li>
                        <li><a href="" title="">BRANDS</a></li>
                    </ul>
                </li>
                <li><a href="https://thuclfc.gitlab.io/hotpanda/build/projects.html" title="project">projectS</a></li>
                <li><a href="http://localhost:8001/artists-detail.html" title="ARTIST">ARTIST</a></li>
                <li><a href="https://thuclfc.gitlab.io/hotpanda/build/about.html" title="about us">about us</a></li>
                <li><a href="https://thuclfc.gitlab.io/hotpanda/build/blog.html" title="Blog">Blog</a></li>
            </ul>
        </div>
        <button type="button" class="btn_search" data-toggle="modal" data-target="#modal-search"></button>
    </nav>
</header>
<div class="modal fade modal-search" id="modal-search">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal"></button>
            <form action="" method="" class="form-search">
                <div class="form-group">
                    <input type="text" name="" placeholder="Tìm kiếm">
                </div>
                <div class="text">Nhập từ khóa để hiện kết quả hoặc nhấn ESC để thoát</div>
            </form>
            <div class="result-search">
                <h5>10 Kết quả cho “keyword”</h5>
                <div class="result-search-list flex">
                    <div class="item flex">
                        <a href="" class="img-thumb"><img src="./assets/img/img-ct5.jpg" alt=""></a>
                        <div class="content">
                            <time>09/08/2021</time>
                            <h3><a href="">BeepBeepChild - Sweet</a></h3>
                            <a href="" title="" class="category">Release</a>
                        </div>
                    </div>
                    <div class="item flex">
                        <a href="" class="img-thumb"><img src="./assets/img/img-ct6.jpg" alt=""></a>
                        <div class="content">
                            <time>09/08/2021</time>
                            <h3><a href="">BeepBeepChild - Sweet</a></h3>
                            <a href="" title="" class="category">Release</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>