<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/style-website.css" rel="stylesheet">
</head>
<body class="{{bodyClasses}}">
<div class="wrapper">
    {% include "../share/header1.html" %}
    {% block content %}{% endblock %}
    {% include "../share/footer.html" %}
</div>
<script src="./assets/js/jquery-3.1.1.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<script src="./assets/js/page_all.js"></script>
<script>
    $(document).ready(function (){
       $('.casestudy h4').on('click',function (){
          $(this).parent().addClass('show');
       });
    });
</script>
</body>
</html>