<main>
    <div class="aboutus">
        <div class="aboutus__header">
            <h1>ABOUT US</h1>
            <p>We are an entertainment company established in 2019 in  Ho Chi Minh City, Vietnam. We specialize in Music & Audio Production service, Music Distribution, Artist Management, Artist Booking, Media, and Marketing service. </p>
        </div>
        <div class="aboutus__banner">
            <img src="./assets/img/img-ab1.jpg" alt="">
        </div>
        <div class="aboutus__mission">
            <div class="container">
                <div class="header">
                    <h2 class="title">Mission Statement</h2>
                    <p>We book and promote music artists, DJs and celebrity talent for shows, venues and brands</p>
                </div>
                <ul class="mission flex">
                    <li>
                        <h4>MUSIC DISTRIBUTION</h4>
                        <p>We distribute music globally in partnership with The Orchard, an American music and entertainment company specializing in distribution, marketing and sales</p>
                    </li>
                    <li>
                        <h4>MUSIC & AUDIO PRODUCTIOn</h4>
                        <p>We do Audio Production, SFX & Foley, Mixing and Mastering, Composition & Arrangement for Brands, Films, TVCs and Individuals.</p>
                    </li>
                    <li>
                        <h4>ARTISTS MANAGEMENT</h4>
                        <p>Explore our talented artists ranging from DJ/Producers to Rappers and Singers</p>
                    </li>
                    <li>
                        <h4>ARTIST BOOKING</h4>
                        <p>We book and promote music artists, DJs and celebrity talent for shows, venues and brands</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="aboutus__banner">
            <img src="./assets/img/img-ab2.jpg" alt="">
        </div>
        <div class="aboutus__member">
           <div class="container">
               <h2 class="title">CREW MEMBER</h2>
               <div class="member_list flex">
                   <div class="member">
                       <div class="member__img"><img src="./assets/img/avt2.jpg" alt=""></div>
                       <div class="member__info flex">
                           <span>Dong Phuong Nguyen</span>
                           <span>Founder / CEO</span>
                       </div>
                   </div>
                   <div class="member">
                       <div class="member__img"><img src="./assets/img/avt3.jpg" alt=""></div>
                       <div class="member__info flex">
                           <span>Tien Vu</span>
                           <span>Operation Manager</span>
                       </div>
                   </div>
                   <div class="member">
                       <div class="member__img"><img src="./assets/img/avt2.jpg" alt=""></div>
                       <div class="member__info flex">
                           <span>Dong Phuong Nguyen</span>
                           <span>Founder / CEO</span>
                       </div>
                   </div>
                   <div class="member">
                       <div class="member__img"><img src="./assets/img/avt3.jpg" alt=""></div>
                       <div class="member__info flex">
                           <span>Tien Vu</span>
                           <span>Operation Manager</span>
                       </div>
                   </div>
                   <div class="member">
                       <div class="member__img"><img src="./assets/img/avt2.jpg" alt=""></div>
                       <div class="member__info flex">
                           <span>Dong Phuong Nguyen</span>
                           <span>Founder / CEO</span>
                       </div>
                   </div>
                   <div class="member">
                       <div class="member__img"><img src="./assets/img/avt3.jpg" alt=""></div>
                       <div class="member__info flex">
                           <span>Tien Vu</span>
                           <span>Operation Manager</span>
                       </div>
                   </div>
                   <div class="member">
                       <div class="member__img"><img src="./assets/img/avt2.jpg" alt=""></div>
                       <div class="member__info flex">
                           <span>Dong Phuong Nguyen</span>
                           <span>Founder / CEO</span>
                       </div>
                   </div>
                   <div class="member">
                       <div class="member__img"><img src="./assets/img/avt3.jpg" alt=""></div>
                       <div class="member__info flex">
                           <span>Tien Vu</span>
                           <span>Operation Manager</span>
                       </div>
                   </div>
               </div>
           </div>
        </div>
    </div>
</main>