<main>
    <div class="artists artists--page container">
        <div class="header">
            <h1 class="title">ARTISTS <span>(12)</span></h1>
        </div>
        <div class="row">
            <div class="col-md-4 col-6">
                <div class="item">
                    <div class="item__img item__img--md"><a href="https://thuclfc.gitlab.io/hotpanda/build/artists-detail.html"><img src="./assets/img/monotape.jpg" alt=""></a></div>
                    <div class="item__name"><a href="https://thuclfc.gitlab.io/hotpanda/build/artists-detail.html">MONOTAPE</a></div>
                    <div class="item__career flex">
                        <span class="w-50">DJ</span>
                        <span class="w-50">PRODUCER</span>
                    </div>
                    <div class="item__hover">
                        <div class="name flex-center">MONOTAPE</div>
                        <div class="box-btn flex-center">
                            <a href="" title="">DJ</a>
                            <a href="" title="">PRODUCER</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-6">
                <div class="item">
                    <div class="item__img item__img--md"><a href="https://thuclfc.gitlab.io/hotpanda/build/artists-detail.html"><img src="./assets/img/tenkitsune.jpg" alt=""></a></div>
                    <div class="item__name"><a href="https://thuclfc.gitlab.io/hotpanda/build/artists-detail.html">TENKITSUNE</a></div>
                    <div class="item__career flex">
                        <span class="w-100">PRODUCER</span>
                    </div>
                    <div class="item__hover">
                        <div class="name flex-center">TENKITSUNE</div>
                        <div class="box-btn flex-center">
                            <a href="" title="">PRODUCER</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-6">
                <div class="item">
                    <div class="item__img item__img--md"><a href="https://thuclfc.gitlab.io/hotpanda/build/artists-detail.html"><img src="./assets/img/getLooze.jpg" alt=""></a></div>
                    <div class="item__name"><a href="https://thuclfc.gitlab.io/hotpanda/build/artists-detail.html">GET LOOZE</a></div>
                    <div class="item__career flex">
                        <span class="w-100">DJ</span>
                    </div>
                    <div class="item__hover">
                        <div class="name flex-center">GET LOOZE</div>
                        <div class="box-btn flex-center">
                            <a href="" title="">DJ</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-6">
                <div class="item">
                    <div class="item__img item__img--md"><a href="https://thuclfc.gitlab.io/hotpanda/build/artists-detail.html"><img src="./assets/img/monotape.jpg" alt=""></a></div>
                    <div class="item__name"><a href="https://thuclfc.gitlab.io/hotpanda/build/artists-detail.html">MONOTAPE</a></div>
                    <div class="item__career flex">
                        <span class="w-50">DJ</span>
                        <span class="w-50">PRODUCER</span>
                    </div>
                    <div class="item__hover">
                        <div class="name flex-center">MONOTAPE</div>
                        <div class="box-btn flex-center">
                            <a href="" title="">DJ</a>
                            <a href="" title="">PRODUCER</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-6">
                <div class="item">
                    <div class="item__img item__img--md"><a href="https://thuclfc.gitlab.io/hotpanda/build/artists-detail.html"><img src="./assets/img/tenkitsune.jpg" alt=""></a></div>
                    <div class="item__name"><a href="https://thuclfc.gitlab.io/hotpanda/build/artists-detail.html">TENKITSUNE</a></div>
                    <div class="item__career flex">
                        <span class="w-100">PRODUCER</span>
                    </div>
                    <div class="item__hover">
                        <div class="name flex-center">TENKITSUNE</div>
                        <div class="box-btn flex-center">
                            <a href="" title="">PRODUCER</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-6">
                <div class="item">
                    <div class="item__img item__img--md"><a href="https://thuclfc.gitlab.io/hotpanda/build/artists-detail.html"><img src="./assets/img/getLooze.jpg" alt=""></a></div>
                    <div class="item__name"><a href="https://thuclfc.gitlab.io/hotpanda/build/artists-detail.html">GET LOOZE</a></div>
                    <div class="item__career flex">
                        <span class="w-100">DJ</span>
                    </div>
                    <div class="item__hover">
                        <div class="name flex-center">GET LOOZE</div>
                        <div class="box-btn flex-center">
                            <a href="" title="">DJ</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>