<main>
    <div class="artists artists--page container">
        <div class="detail row">
            <div class="col-md-6">
                <div class="header">
                    <h1 class="title">WEAN</h1>
                    <p>SINGER/RAPPER</p>
                </div>
                <article>
                    <p>Short introduction orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <p>ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </article>
                <div class="download">
                    <a href="" class="btn_download flex"><span>Download full Bio</span> <span class="icon icon-download"></span></a>
                </div>
                <div class="email">
                    <a href="mailto:contact@hotpandamedia.com">contact@hotpandamedia.com</a>
                </div>
                <ul class="contact flex-lc">
                    <li><a href="" title="" class="youtube">youtube</a></li>
                    <li><a href="" title="" class="spotify">spotify</a></li>
                    <li><a href="" title="" class="facebook">facebook</a></li>
                    <li><a href="" title="" class="instagram">instagram</a></li>
                </ul>
            </div>
            <div class="col-md-6">
                <div class="img-thumb ml-auto">
                    <img src="./assets/img/pr1.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="related">
            <div class="header flex-lc">
                <h2 class="title">RELATED CONTENT</h2>
                <a href="" title="" class="btn_more"></a>
            </div>
            <div class="row">
                <div class="col-md-4 col-6">
                    <div class="item">
                        <div class="item__img item__img--lg"><a href=""><img src="./assets/img/monotape.jpg" alt=""></a></div>
                        <div class="item__name"><a href="">MONOTAPE</a></div>
                    </div>
                </div>
                <div class="col-md-4 col-6">
                    <div class="item">
                        <div class="item__img item__img--lg"><a href=""><img src="./assets/img/artists1.jpg" alt=""></a></div>
                        <div class="item__name"><a href="">MOT NGUOI VI EM EP</a></div>
                    </div>
                </div>
                <div class="col-md-4 col-6">
                    <div class="item">
                        <div class="item__img item__img--lg"><a href=""><img src="./assets/img/artists2.jpg" alt=""></a></div>
                        <div class="item__name"><a href="">Photos</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>