<main>
    <div class="blog">
        <div class="blog__banner pr">
            <div class="img-wrapper"><img src="./assets/img/blog-bn.jpg" alt=""></div>
            <div class="content">
                <div class="container">
                    <h1>Mot Nguoi Vi Em - EP</h1>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum orem ipsum dolor sit amet,</p>
                </div>
            </div>
        </div>
        <div class="blog__list container">
            <h2 class="title">NEWS</h2>
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="post">
                        <a href="" class="post__thumb"><img src="./assets/img/monotape.jpg" alt=""></a>
                        <div class="post__content">
                            <time>09/08/2021</time>
                            <h3><a href="">THe heroes</a></h3>
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                        </div>
                        <div class="category">
                            <span>News</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="post">
                        <a href="" class="post__thumb"><img src="./assets/img/artists1.jpg" alt=""></a>
                        <div class="post__content">
                            <time>09/08/2021</time>
                            <h3><a href="">mot nguoi vi em (midnight)</a></h3>
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                        </div>
                        <div class="category">
                            <span>News</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="post">
                        <a href="" class="post__thumb"><img src="./assets/img/artists3.jpg" alt=""></a>
                        <div class="post__content">
                            <time>09/08/2021</time>
                            <h3><a href="">THe heroes</a></h3>
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                        </div>
                        <div class="category">
                            <span>News</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="blog__list container">
            <h2 class="title">RELEASES</h2>
            <div class="row">
                <div class="col-lg-3 col-md-4">
                    <div class="post post--releases">
                        <a href="" class="post__thumb"><img src="./assets/img/monotape.jpg" alt=""></a>
                        <div class="post__content">
                            <time>09/08/2021</time>
                            <h3><a href="">THe heroes</a></h3>
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                        </div>
                        <div class="category">
                            <span>Release</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="post post--releases">
                        <a href="" class="post__thumb"><img src="./assets/img/artists1.jpg" alt=""></a>
                        <div class="post__content">
                            <time>09/08/2021</time>
                            <h3><a href="">mot nguoi vi em (midnight)</a></h3>
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                        </div>
                        <div class="category">
                            <span>Release</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="post post--releases">
                        <a href="" class="post__thumb"><img src="./assets/img/artists3.jpg" alt=""></a>
                        <div class="post__content">
                            <time>09/08/2021</time>
                            <h3><a href="">THe heroes</a></h3>
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                        </div>
                        <div class="category">
                            <span>Release</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="post post--releases">
                        <a href="" class="post__thumb"><img src="./assets/img/artists1.jpg" alt=""></a>
                        <div class="post__content">
                            <time>09/08/2021</time>
                            <h3><a href="">mot nguoi vi em (midnight)</a></h3>
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                        </div>
                        <div class="category">
                            <span>Release</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>