<main>
    <div class="blog-detail">
        <div class="container">
            <div class="header flex pr">
                <div class="content">
                    <h1>WEAN - mot nguoi vi em (midnight) Reaches 150.000 Within 48 Hours: </h1>
                    <div class="flex-lc">
                        <time>09/08/2021</time>
                        <span>WEAN </span>
                    </div>
                    <p>Short introduction orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea com</p>
                </div>
                <div class="category flex">
                    <a href="" title="">New Release</a>
                    <a href="" title="">News</a>
                </div>
            </div>
            <div class="detail pr">
                <div class="img-wrapper">
                    <img src="./assets/img/img-blog.jpg" alt="">
                </div>
                <div class="summary">
                    <p>Short content dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                </div>
                <div class="gallery flex">
                    <div class="gallery__item"><img src="./assets/img/image-1.jpg" alt=""></div>
                    <div class="gallery__item"><img src="./assets/img/image-1.jpg" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</main>