<main>
    <div class="homeslider pr">
        <div class="item">
            <div class="item__img"><img src="./assets/img/banner.jpg" alt=""></div>
            <div class="item__content flex">
                <h2>Wean - Mot Nguoi Vi Em</h2>
                <p>Music production</p>
                <a href="" title="" class="btn_explore flex-center">explore</a>
            </div>
        </div>
        <div class="item">
            <div class="item__img"><img src="./assets/img/banner.jpg" alt=""></div>
            <div class="item__content flex">
                <h2>Wean - Mot Nguoi Vi Em</h2>
                <p>Music production</p>
                <a href="" title="" class="btn_explore flex-center">explore</a>
            </div>
        </div>
    </div>
    <div class="about">
        <div class="about__content">
            <h2>about us</h2>
            <p>An entertainment company specialized in Music & Audio
                Production services, Music Distribution, Artist Management, Artist Booking, Media and Marketing service
                Etablished since 2019
                Based in Ho Chi Minh city, Vietnam</p>
            <button type="button" class="btn_close"></button>
        </div>
        <div class="text-run">
            <marquee>An entertainment company specialized in Music & Audio Production services, Music Distribution, Artist Management, Artist Booking, Media and Marketing service An entertainment company specialized in Music & Audio Production services, Music Distribution, Artist Management, Artist Booking, Media and Marketing service</marquee>
        </div>
    </div>
    <div class="services pr">
        <h2 class="title">services</h2>
        <div class="flex flex-nowrap">
            <div class="brand flex flex-nowrap">
                <div class="title flex-center">
                    <h4 class="flex-center"><span>For brands</span></h4>
                </div>
                <ul class="brand__list">
                    <li><a href="" title="">Music & Audio Production</a></li>
                    <li><a href="" title="">Booking Agency / Brand Partnership</a></li>
                    <li><a href="" title="">Media Booking & Marketing</a></li>
                </ul>
            </div>
            <div class="artist flex flex-nowrap">
                <ul class="artist__list">
                    <li><a href="" title="">Artist Management</a></li>
                    <li><a href="" title="">Distribution</a></li>
                    <li><a href="" title="">Brand Partnership</a></li>
                    <li><a href="" title="">Music & Audio production</a></li>
                </ul>
                <div class="title flex-center">
                    <h4 class="flex-center"><span>For artists</span></h4>
                </div>
            </div>
        </div>
    </div>
    <div class="feedback">
        <div class="container">
            <ul class="feedback__list flex">
                <li>
                    <div class="logo"><img src="./assets/img/dentsu.png" alt=""></div>
                    <h4><span>Phuong Anh</span> Dentsu Redder</h4>
                    <p>Hot Panda ekip has a sophisticated taste of music, with deep understanding the brand needs. You have always worked with 200% effort to deliver such high quality pieces of music, which are both amusing and well branded. Thank you so much for your accompany with Dentsu Redder through various of projects</p>
                </li>
                <li>
                    <div class="logo"><img src="./assets/img/little.png" alt=""></div>
                    <h4><span>Hana Bui</span> Senior Producer - LRA Vietnam</h4>
                    <p>It is such a pleasure working with Hot Panda Media. No matter how demanding a task is, with their enthusiasm, we would always receive swift responses, great turn out with supportive attitude. For one of the projects, even after going through dozen rounds of review, Eric and his team still manages to take our constant feedback into consideration and provide revisions with top speed. I will happily continue our cooperation in the future for even more wonderful creative works.</p>
                </li>
                <li>
                    <div class="logo"><img src="./assets/img/dentsu.png" alt=""></div>
                    <h4><span>Phuong Anh</span> Dentsu Redder</h4>
                    <p>Hot Panda ekip has a sophisticated taste of music, with deep understanding the brand needs. You have always worked with 200% effort to deliver such high quality pieces of music, which are both amusing and well branded. Thank you so much for your accompany with Dentsu Redder through various of projects</p>
                </li>
            </ul>
        </div>
    </div>
</main>


