<main>
    <div class="projects container">
        <div class="header">
            <h1 class="title">PROJECTS <span>(68)</span></h1>
        </div>
        <ul class="nav tab">
            <li><a href="#all" data-toggle="tab" class="active">All</a></li>
            <li><a href="#showreel" data-toggle="tab">Showreel</a></li>
            <li><a href="#music" data-toggle="tab">Music Production</a></li>
            <li><a href="#audio" data-toggle="tab">Audio Production</a></li>
            <li><a href="#mixing" data-toggle="tab">Mixing and Mastering </a></li>
        </ul>
        <div class="tab-content">
            <div id="all" class="tab-pane fade show active">
                <div class="projects__list row">
                    <div class="col-md-4 col-6">
                        <div class="item">
                            <div class="item__img item__img--xs">
                                <a href=""><img src="./assets/img/pr1.jpg" alt=""></a>
                            </div>
                            <div class="item__name"><a href="" title="">WEAN - MOT NGUOI VI EM</a></div>
                            <div class="item__hover">
                                <div class="name flex-center">WEAN - MOT NGUOI VI EM</div>
                                <div class="category flex pr">
                                    <a href="" title="">Release</a>
                                    <a href="" title="">Music Distribution</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-6">
                        <div class="item">
                            <div class="item__img item__img--xs">
                                <a href="https://thuclfc.gitlab.io/hotpanda/build/projects-detail.html"><img src="./assets/img/tan.jpg" alt=""></a>
                            </div>
                            <div class="item__name"><a href="https://thuclfc.gitlab.io/hotpanda/build/projects-detail.html" title="">TAN</a></div>
                            <div class="item__hover">
                                <div class="name flex-center">Tan</div>
                                <div class="category flex pr">
                                    <a href="" title="">Release</a>
                                    <a href="" title="">Music Distribution</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-6">
                        <div class="item">
                            <div class="item__img item__img--xs">
                                <a href="https://thuclfc.gitlab.io/hotpanda/build/projects-detail.html"><img src="./assets/img/pr2.jpg" alt=""></a>
                            </div>
                            <div class="item__name"><a href="https://thuclfc.gitlab.io/hotpanda/build/projects-detail.html" title="">MAY BE LI</a></div>
                            <div class="item__hover">
                                <div class="name flex-center">MAY BE LI</div>
                                <div class="category flex pr">
                                    <a href="" title="">Release</a>
                                    <a href="" title="">Music Distribution</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-6">
                        <div class="item">
                            <div class="item__img item__img--xs">
                                <a href="https://thuclfc.gitlab.io/hotpanda/build/projects-detail.html"><img src="./assets/img/pr1.jpg" alt=""></a>
                            </div>
                            <div class="item__name"><a href="https://thuclfc.gitlab.io/hotpanda/build/projects-detail.html" title="">WEAN - MOT NGUOI VI EM</a></div>
                            <div class="item__hover">
                                <div class="name flex-center">WEAN - MOT NGUOI VI EM</div>
                                <div class="category flex pr">
                                    <a href="" title="">Release</a>
                                    <a href="" title="">Music Distribution</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-6">
                        <div class="item">
                            <div class="item__img item__img--xs">
                                <a href="https://thuclfc.gitlab.io/hotpanda/build/projects-detail.html"><img src="./assets/img/tan.jpg" alt=""></a>
                            </div>
                            <div class="item__name"><a href="https://thuclfc.gitlab.io/hotpanda/build/projects-detail.html" title="">TAN</a></div>
                            <div class="item__hover">
                                <div class="name flex-center">Tan</div>
                                <div class="category flex pr">
                                    <a href="" title="">Release</a>
                                    <a href="" title="">Music Distribution</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-6">
                        <div class="item">
                            <div class="item__img item__img--xs">
                                <a href="https://thuclfc.gitlab.io/hotpanda/build/projects-detail.html"><img src="./assets/img/pr2.jpg" alt=""></a>
                            </div>
                            <div class="item__name"><a href="https://thuclfc.gitlab.io/hotpanda/build/projects-detail.html" title="">MAY BE LI</a></div>
                            <div class="item__hover">
                                <div class="name flex-center">Tan</div>
                                <div class="category flex pr">
                                    <a href="" title="">Release</a>
                                    <a href="" title="">Music Distribution</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="showreel" class="tab-pane fade">
                <div class="projects__list row">
                    <div class="col-md-4 col-6">
                        <div class="item">
                            <div class="item__img item__img--xs">
                                <a href=""><img src="./assets/img/pr1.jpg" alt=""></a>
                            </div>
                            <div class="item__name"><a href="" title="">WEAN - MOT NGUOI VI EM</a></div>
                            <div class="item__hover">
                                <div class="name flex-center">WEAN - MOT NGUOI VI EM</div>
                                <div class="category flex pr">
                                    <a href="" title="">Release</a>
                                    <a href="" title="">Music Distribution</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-6">
                        <div class="item">
                            <div class="item__img item__img--xs">
                                <a href="https://thuclfc.gitlab.io/hotpanda/build/projects-detail.html"><img src="./assets/img/tan.jpg" alt=""></a>
                            </div>
                            <div class="item__name"><a href="https://thuclfc.gitlab.io/hotpanda/build/projects-detail.html" title="">TAN</a></div>
                            <div class="item__hover">
                                <div class="name flex-center">Tan</div>
                                <div class="category flex pr">
                                    <a href="" title="">Release</a>
                                    <a href="" title="">Music Distribution</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="music" class="tab-pane fade">
                <div class="projects__list row">
                    <div class="col-md-4 col-6">
                        <div class="item">
                            <div class="item__img item__img--xs">
                                <a href="https://thuclfc.gitlab.io/hotpanda/build/projects-detail.html"><img src="./assets/img/tan.jpg" alt=""></a>
                            </div>
                            <div class="item__name"><a href="https://thuclfc.gitlab.io/hotpanda/build/projects-detail.html" title="">TAN</a></div>
                            <div class="item__hover">
                                <div class="name flex-center">Tan</div>
                                <div class="category flex pr">
                                    <a href="" title="">Release</a>
                                    <a href="" title="">Music Distribution</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="audio" class="tab-pane fade">
                <div class="projects__list row">
                    <div class="col-md-4 col-6">
                        <div class="item">
                            <div class="item__img item__img--xs">
                                <a href="https://thuclfc.gitlab.io/hotpanda/build/projects-detail.html"><img src="./assets/img/tan.jpg" alt=""></a>
                            </div>
                            <div class="item__name"><a href="https://thuclfc.gitlab.io/hotpanda/build/projects-detail.html" title="">TAN</a></div>
                            <div class="item__hover">
                                <div class="name flex-center">Tan</div>
                                <div class="category flex pr">
                                    <a href="" title="">Release</a>
                                    <a href="" title="">Music Distribution</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="mixing" class="tab-pane fade">
                <div class="projects__list row">
                    <div class="col-md-4 col-6">
                        <div class="item">
                            <div class="item__img item__img--xs">
                                <a href="https://thuclfc.gitlab.io/hotpanda/build/projects-detail.html"><img src="./assets/img/pr2.jpg" alt=""></a>
                            </div>
                            <div class="item__name"><a href="https://thuclfc.gitlab.io/hotpanda/build/projects-detail.html" title="">MAY BE LI</a></div>
                            <div class="item__hover">
                                <div class="name flex-center">MAY BE LI</div>
                                <div class="category flex pr">
                                    <a href="" title="">Release</a>
                                    <a href="" title="">Music Distribution</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>