<main>
    <div class="projects container">
        <div class="header row">
            <div class="col-md-7">
                <h1 class="title">WEAN - MOT NGUOI VI EM</h1>
                <div class="category flex">
                    <a href="#" title="">Mixing and Mastering</a>
                    <a href="#" title="">Music Production</a>
                </div>
            </div>
            <div class="col-md-5">
                <div class="des">
                    Short introduction orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                </div>
            </div>
        </div>
        <div class="detail pr">
            <div class="img-thumb">
                <img src="./assets/img/image-1.jpg" alt="">
            </div>
            <div class="summary">
                <p>Short content dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                <a href="" title="Read more" class="btn_readmore flex-center">Read more</a>
            </div>
            <div class="gallery flex">
                <div class="gallery__item"><img src="./assets/img/image-1.jpg" alt=""></div>
                <div class="gallery__item"><img src="./assets/img/image-1.jpg" alt=""></div>
            </div>
        </div>
    </div>
</main>