<main>
    <div class="services">
        <div class="container">
            <h1 class="title">FOR ARTISTS</h1>
            <div class="box-table">
                <h2 class="title">ARTISTS MANAGEMENT</h2>
                <div class="table table--odd flex">
                    <div class="item">
                        <h4>ARTIST DEVELOPMENT</h4>
                        <p>Branding development, develop artists’ craft and skills necessary to build a professional career in the music industry.</p>
                    </div>
                    <div class="item">
                        <h4>MUSIC DISTRIBUTION</h4>
                        <p>International distribution standards, working together with artists on release plans. Create a link between artists’ finished records and their future fans.</p>
                    </div>
                    <div class="item">
                        <h4>Legal Consultation</h4>
                        <p>Consultation on business contracts, copyright protection, taxes and more.</p>
                    </div>
                </div>
                <div class="table table--even flex">
                    <div class="item">
                        <h4>MEDIA & MARKETING</h4>
                        <p>Creating marketing plans & close connections with some of the top media companies in Vietnam’s music industry for artists.</p>
                    </div>
                    <div class="item">
                        <h4>BOOKINGS & BRAND PARTNERSHIP</h4>
                        <p>Responsible for show/tour or commercial project booking, dealing with agencies to get the best deal as possible.</p>
                    </div>
                    <div class="item">
                        <h4>FINANCIAL MANAGEMENT</h4>
                        <p>Managing budget and cashflow, looking for sponsorships.</p>
                    </div>
                </div>
            </div>
            <div class="casestudy">
                <h4 class="title flex"><span>Case Study</span> <i class="icon"></i></h4>
                <div class="casestudy__list flex">
                    <div class="item">
                        <a href="" class="img-thumb"><img src="./assets/img/img-ct1.jpg" alt=""></a>
                        <h3><a href="">WEAN</a></h3>
                    </div>
                    <div class="item">
                        <a href="" class="img-thumb"><img src="./assets/img/img-ct2.jpg" alt=""></a>
                        <h3><a href="">NAOMI</a></h3>
                    </div>
                    <div class="item">
                        <a href="" class="img-thumb"><img src="./assets/img/img-ct3.jpg" alt=""></a>
                        <h3><a href="">GET LOOZE</a></h3>
                    </div>
                    <div class="item">
                        <a href="" class="img-thumb"><img src="./assets/img/img-ct3.jpg" alt=""></a>
                        <h3><a href="">GET LOOZE</a></h3>
                    </div>
                </div>
            </div>
            <div class="box-table">
                <h2 class="title">Music DIstribution</h2>
                <div class="table table--even flex">
                    <div class="item">
                        <h4>AUDIO PRODUCTION</h4>
                        <p>Music to be distributed to major DSPs like Apple Music, Spotify, Tidal, Youtube (including Content ID) and local DSPs in different countries around the globe.</p>
                    </div>
                    <div class="item">
                        <h4>ARTISTS’ BENEFITS</h4>
                        <p>Artists own the master right of the songs. Full control of their sources of revenue</p>
                    </div>
                    <div class="item">
                        <h4>MARKETING CONSULTANCY</h4>
                        <p>Consultation and advice on release plans and marketing strategies to prepare key drivers to ensure the best results for releases.</p>
                    </div>
                </div>
            </div>
            <div class="casestudy">
                <h4 class="title flex"><span>Case Study</span> <i class="icon"></i></h4>
                <div class="casestudy__list flex">
                    <div class="item">
                        <a href="" class="img-thumb"><img src="./assets/img/img-ct4.jpg" alt=""></a>
                        <h3><a href="">Kiey - Sunday Sanctuary</a></h3>
                    </div>
                    <div class="item">
                        <a href="" class="img-thumb"><img src="./assets/img/img-ct5.jpg" alt=""></a>
                        <h3><a href="">Kha - DOAN DUONG SAO BANG</a></h3>
                    </div>
                    <div class="item">
                        <a href="" class="img-thumb"><img src="./assets/img/img-ct6.jpg" alt=""></a>
                        <h3><a href="">Cotton Candy - Castles</a></h3>
                    </div>
                    <div class="item">
                        <a href="" class="img-thumb"><img src="./assets/img/img-ct6.jpg" alt=""></a>
                        <h3><a href="">Cotton Candy - Castles</a></h3>
                    </div>
                </div>
            </div>
            <div class="musicaudio">
                <div class="header">
                    <h2 class="title">MUSIC & AUDIO PRODUCTION</h2>
                    <p>Having your songs composed, mixed and mastered by some of the best producers and engineers in Vietnam.</p>
                </div>
                <div class="img-list flex">
                    <div class="item"><img src="./assets/img/img-m1.jpg" alt=""></div>
                    <div class="item"><img src="./assets/img/img-m2.jpg" alt=""></div>
                    <div class="item"><img src="./assets/img/img-m3.jpg" alt=""></div>
                    <div class="caption">Our Artists' Recording Session at Hot Pot Studio</div>
                </div>
                <div class="img-list full flex">
                    <div class="item"><img src="./assets/img/photo.jpg" alt=""></div>
                    <div class="caption">Vietnamese Traditional Musical Instrument Recording Session</div>
                </div>
            </div>
        </div>
    </div>
</main>