<main>
    <div class="services">
        <div class="container">
            <h1 class="title">FOR BRANDS</h1>
            <div class="box-table">
                <h2 class="title">ARTISTS MANAGEMENT</h2>
                <div class="table table--even w50 flex">
                    <div class="item">
                        <h4>AUDIO PRODUCTION</h4>
                        <p>Jingle idea creation and music production for artistic songs, TVCs, digital video advertisements</p>
                    </div>
                    <div class="item">
                        <h4>SFX & FOLEY</h4>
                        <p>Engineer custom sounds and audio elements for scenes and create the most realistic soundscape for the video production.</p>
                    </div>
                </div>
                <div class="table table--odd w50 flex">
                    <div class="item">
                        <h4>COMPOSITION & ARRANGEMENT</h4>
                        <p>Have your song/audio composition written by some of the best songwriters and lyricists in Vietnam through our vast and varied network of artists.</p>
                    </div>
                    <div class="item">
                        <h4>MIXING & MASTERING</h4>
                        <p>Get yourself a clean, clear mix and mastered for multiple platforms and media by some of the best producers and engineers in Vietnam.</p>
                    </div>
                </div>
            </div>
            <div class="casestudy">
                <h4 class="title flex"><span>Case Study</span> <i class="icon"></i></h4>
                <div class="casestudy__list flex">
                    <div class="item">
                        <a href="" class="img-thumb"><img src="./assets/img/img-ct7.jpg" alt=""></a>
                        <h3><a href="">Jingle Production</a></h3>
                    </div>
                    <div class="item">
                        <a href="" class="img-thumb"><img src="./assets/img/img-ct8.jpg" alt=""></a>
                        <h3><a href="">Music Composition</a></h3>
                    </div>
                    <div class="item">
                        <a href="" class="img-thumb"><img src="./assets/img/tan.jpg" alt=""></a>
                        <h3><a href="">Music Composition</a></h3>
                    </div>
                </div>
            </div>
            <div class="booking">
                <div class="header">
                    <h2 class="title">Booking Agency/ Brand Partnerships</h2>
                    <p>Book renowned and rising music artists, DJs and celebrity talent for commercial or private events. Our booking agents can help you bring top artists to audiences.</p>
                </div>
                <figure>
                    <img src="./assets/img/getloozw.jpg" alt="Trulli" style="width:100%">
                    <figcaption>GET LOOZE at LIGHTS Countdown Festival 2020 in front of more than 60,000 people</figcaption>
                </figure>
            </div>
            <div class="partner">
                <div class="partner__list">
                    <div class="item"><a href=""><img src="./assets/img/chivas.png" alt=""></a></div>
                    <div class="item"><a href=""><img src="./assets/img/wmw.png" alt=""></a></div>
                    <div class="item"><a href=""><img src="./assets/img/1900.png" alt=""></a></div>
                    <div class="item"><a href=""><img src="./assets/img/logo2.png" alt=""></a></div>
                    <div class="item"><a href=""><img src="./assets/img/atmos.png" alt=""></a></div>
                </div>
            </div>
            <div class="casestudy">
                <div class="header">
                    <h2 class="title">Media Booking & Marketing</h2>
                    <p>Organize, manage your media campaign. We work with singers/songwriters and media partners to deliver and promote your media campaigns.</p>
                </div>
                <h4 class="title flex"><span>Case Study</span> <i class="icon"></i></h4>
                <div class="casestudy__list flex">
                    <div class="item">
                        <a href="" class="img-thumb"><img src="./assets/img/img-ct9.jpg" alt=""></a>
                        <h3><a href="">Mixmag Asia x 1900 Le Théâtre: Resident Revival</a></h3>
                    </div>
                    <div class="item">
                        <a href="" class="img-thumb"><img src="./assets/img/img-ct10.jpg" alt=""></a>
                        <h3><a href="">DISNEY & UNIVERSAL MUSIC GROUP</a></h3>
                    </div>
                    <div class="item">
                        <a href="" class="img-thumb"><img src="./assets/img/img-ct11.jpg" alt=""></a>
                        <h3><a href="">TOMORROWLAND:  AROUND THE WORLD</a></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>