:root{
  --green: #006633;
  --border: 3px solid #000;
  --Elephant: Elephant, sans-serif;
  --GTWalsheimPro:GTWalsheimPro, sans-serif;
}
body{
  width: 100%;
  background: #f4f3f6;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  color: #000;
  line-height: 1.4;
  border: vw(3px) solid;
  overflow-x: hidden;
}

@font-face {
  font-family: GTWalsheimPro;
  src: url("#{$font-path}/GTWalsheimProRegular.ttf");
}
@font-face {
  font-family: Elephant;
  src: url("#{$font-path}/Elephant-Black.otf");
}

body.modal-open {
  overflow-y: inherit;
  padding-right: 0 !important;
}
a{transition: .15s;}
a:hover{text-decoration: none;}
img{max-width: 100%;}
h1,h2,h3,h4,h5{font-size: inherit; margin-bottom: 0;}

@mixin center{
  position: absolute; top: 50%; left: 50%;
  transform: translate(-50%,-50%);
}

header{
  width: 100%;
  background: #f6f6f6;
  border: vw(3px) solid;
  position: fixed; top: 0; left: 0; z-index: 99;;
  .navbar{max-width: 1480px; margin: 0 auto; padding: 0 30px; height: vw(82px);}
  .navbar-nav{
    flex-direction: row;
    > li{margin: 0 vw(28px); position: relative;}
    > li> a{
      display: block; padding: 0 vw(16px);
      color: #000; font-size: vw(24px); font-weight: 700; line-height: vw(83px); text-transform: uppercase;
      border-left: vw(3px) solid transparent;
      border-right: vw(3px) solid transparent;
      transition: color .3s;
    }
    > li:hover > a{
      border-left: var(--border);
      border-right: var(--border);
      background: #FFC91E;
      color: #000;
    }
    > li:hover .sub-menu{opacity: 1; visibility: visible;}
    > li > .active{
      border-left: var(--border);
      border-right: var(--border);
      background: #FFC91E;
      color: #000;
    }
    .sub-menu{
      margin-top: 0;
      position: absolute;
      width: 100%;
      background: #fff;
      border: var(--border);
      opacity: 0; visibility: hidden;
      transition: .25s;
      a{display: block; padding: vw(10px) 0; color: #000; font-size: vw(24px); font-weight: 700; text-align: center;}
      a:hover{background: #000; color: #fff;}
    }
    .show-menu{
      display: none;
      width: 18px; height: 15px;
      background: url("#{$img-path}/arr-down.svg") no-repeat 0 0/contain;
      position: absolute; top: 3px; right: 10px;
    }
  }
  .navbar-toggler{display: none;}
  .navbar-collapse{display: flex; flex-basis: auto;}
  .form-search{
    align-items: center;
    input{
      width: 0;
      border: none;
      height: vw(40px);
      padding: 0;
      border-radius: 4px;
      transition: .3s;
      &:focus{outline: none;}
    }
    .btn_search{
      width: 22px; height: 22px;
      margin-left: 5px;
      background: url("#{$img-path}/icon-search1.png") no-repeat 0 0/contain;
    }
    &.show{
      input{width: vw(240px); padding: 0 10px;}
    }
  }
  .logo{width: vw(145px);}
  .btn_search{
    width: 22px; height: 22px;
    margin-left: 5px;
    background: url("#{$img-path}/icon-search1.png") no-repeat 0 0/contain;
  }
}
main{padding-top: vw(82px);}
.homeslider{
  .item{
    &__content{
      width: 100%; height: 100%; margin: 0 auto;
      padding: vw(50px) vw(145px);
      flex-direction: column;
      justify-content: flex-end;
      position: absolute; top: 0; left: 0;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 9.12%, rgba(0, 0, 0, 0) 100%);
      color: #fff; font-family: var(--GTWalsheimPro);
    }
    h2{margin-bottom: vw(2px); font-size: vw(72px);}
    p{font-size: vw(36px);}
  }
  .btn_explore{
    width: vw(288px); height: vw(74px);
    background: #fff;
    font-size: vw(24px); color: #000;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute; bottom: vw(60px); right: vw(145px);
    &:hover{background: #FFC91E; border-radius: 3px;}
  }
}
.text{
  padding: vw(10px) vw(10px);
  background: #000;
  font: vw(64px) var(--GTWalsheimPro);
  color: #fff;
  white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
}
.services{
  h2.title{
    width: 100%;
    padding: vw(30px) 0; text-align: center;
    font-size: vw(96px); line-height: vw(112px);
    font-weight: 700;
    text-transform: uppercase;
  }
  .brand,.artist{
    width: 50%; height: vw(460px);
    border: vw(3px) solid #000;
    position: relative;
    transition: width .3s linear;
    h4{
      white-space: nowrap; font-size: vw(96px);
      font-weight: 700; text-transform: uppercase;
      transition: .3s linear;
    }
    .title{width: 100%; max-width: vw(947.5px); height: 100%; align-items: center; transition: .3s linear; position: relative; z-index: 2;}
    &.expand{
      width: vw(180px); z-index: 2;
      h4{font-size: vw(72px); transform: rotate(90deg);}
    }
    &:hover{
      width: vw(1740px);
      .title{max-width: vw(660px);}
      .brand__list,.artist__list{
        display: block; opacity: 1; visibility: visible;
        a{opacity: 1;}
      }
    }
    &__list{
      width: 56.25vw;
      height: 100%;
      position: absolute; top: 0;
      opacity: 0; visibility: hidden;
      transition: .3s linear;
      li{display: flex; align-items: center; padding: 0 vw(135px);}
      >*+*{border-top: vw(3px) solid #000;}
      a{font: vw(48px) var(--GTWalsheimPro);}
    }
  }
  .brand{
    background: #2D71FF; border-right-width: vw(1px); border-left: none;
    &:hover{}
    &.expand{
      h4{transform: rotate(-90deg);}
    }
    &__list{
      border-left: vw(3px) solid #000; left: vw(660px);
      li{height: 33.33%;}
      a{color: #fff;}
    }
    h4{color: #fff;}
  }
  .artist{
    background: #FFC91E; border-left-width: vw(2px); border-right: none;
    .title{right: 0; position: absolute}
    &__list{
      border-right: vw(3px) solid #000;
      border-left: vw(3px) solid #000;
      right: vw(660px);
      li{height: 25%; justify-content: flex-end;}
      a{color: #000; text-align: right;}
    }
  }
}
.about{
  background: #000;
  min-height: vw(104px);
  font: vw(64px) var(--GTWalsheimPro);
  color: #fff;
  position: relative;
  .btn_close{width: vw(38px); height: vw(20px); margin-top: vw(55px); background: url("#{$img-path}/Vector.png") no-repeat 0 0/contain;}
  .text-run{
    width: 100%; display: flex; align-items: center;
    padding: vw(10px);
    background: #000;
    &:hover{background: #2D71FF;}
    &.run p{transform: translateX(0);}
  }
  &__content{
    height: 0;
    background: #000;
    text-align: center;
    opacity: 0;
    transition: .3s linear;
    h2{margin-bottom: vw(40px); font-size: vw(96px); font-weight: 700; color: #fff; text-transform: uppercase;}
    p{max-width: vw(695px); margin: 0 auto; white-space: pre-line; font: vw(24px) var(--GTWalsheimPro); line-height: vw(33px);}
  }
  &.show{
    .about__content{display: block; padding: vw(30px) 0; height: vw(495px); opacity: 1;}
    .text-run{opacity: 0; position: absolute; top: 0;}
  }
}
.feedback{
  padding: 35px 0 45px;
  li{width: 33.3%; padding: 0 10px;}
  .logo{margin-bottom: 13px; width: vw(190px);}
  h4{margin-bottom: vw(15px); font: vw(24px) var(--GTWalsheimPro);}
  h4 span{font: 700 vw(24px) 'Roboto Condensed', sans-serif; text-transform: uppercase;}
  p{font: vw(18px) var(--GTWalsheimPro);}
}
.modal-search{
  padding-right: 0 !important;
  .modal-dialog{max-width: 100%; margin: 0; }
  .modal-content{
    width: 100%; min-height: 100vh;
    padding: vw(118px) 40px 40px;
    border: none;
    border-radius: 0;
  }
  .form-search,.result-search{width: 100%;  max-width: vw(1500px); margin: 0 auto;}
  .form-search{
    input{
      width: 100%; height: vw(99px);
      border: vw(3px) solid #000;
      font-size: vw(36px);
      color: #000;
      text-align: center;
      &::placeholder{text-transform: uppercase; color: #000;}
    }
    .text{margin: vw(15px) auto; font: vw(18px) var(--GTWalsheimPro); line-height: vw(24px); text-align: center;}
  }
  .result-search{
    margin-top: vw(70px);
    h5{margin-bottom: vw(15px); font: vw(18px) var(--GTWalsheimPro); line-height: vw(24px);}
    &-list{
      margin: 0 -10px;
      .item{max-width: 50%; padding: 0 10px; margin-bottom: 30px; justify-content: space-between;}
      .img-thumb,.content{border: vw(3px) solid #000;}
      .img-thumb{width: 33%;}
      .content{
        width: 65%; padding: vw(20px);
      }
      img{width: 100%; height: 100%; object-fit: cover;}
      time{display: block; margin-bottom: 5px; font: 14px var(--GTWalsheimPro);}
      h3{
        margin-bottom: 10px;
        flex: 1 1 auto; font-size: vw(24px); text-transform: uppercase; font-weight: 700;
      }
      h3 a{
        display: block;
        color: #000;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .category{
        display: inline-block;
        padding: vw(5px) vw(15px);
        border: vw(3px) solid #000;
        color: #000;
        font-size: vw(18px) var(--GTWalsheimPro);
        &:hover{background: #000; color: #fff;}
      }
    }
  }
  .close{
    width: vw(30px); height: vw(30px);
    background: url("#{$img-path}/close.svg") no-repeat 0 0/contain;
    position: absolute; top: vw(42px); right: vw(45px); opacity: 1;
  }
}

footer{
  padding: 40px 0;
  background: #000;
  color: #fff;
  font: vw(24px) var(--GTWalsheimPro);
  .row{margin: 0 -9px;}
  h4{
    margin-bottom: 10px;
    text-transform: uppercase;
    font: vw(40px) var(--Elephant);
    font-weight: 700;
  }
  h5{
    flex-basis: 100%;
    margin: vw(5px) 0 vw(12px);
    font-size: vw(24px);
    line-height: vw(28px);
    font-weight: 700;
    text-transform: uppercase;
  }
  .menu{
    li{padding: vw(2px) 0;}
    li a{color: #fff;}
  }
  .contact{
    a{display: block; color: #fff;}
  }
  .logo{display: block; width: vw(192px); margin: vw(30px) 0 0 auto; position: absolute; right: 0; top: vw(10px);}
  form{
    input{
      width: vw(365px);
      max-width: 100%;
      height: vw(45px);
      background: transparent;
      padding: 0 vw(21px);
      border: vw(3px) solid #F7F7F7;
      font: vw(18px) var(--GTWalsheimPro);
      color: #fff;
      &:focus{outline: none;}
      &::placeholder{color: #fff;}
    }
  }
}

//uikit
.pr{position: relative;}
.flex-nowrap{flex-wrap: nowrap;}
button{
  border: none; cursor: pointer; padding: 0;
  &:focus{outline: none;}
}
.slick-arrow{
  width: vw(26px); height: vw(50px);
  background: url("#{$img-path}/next.png") no-repeat 0 0/contain;
  position: absolute; top: 50%; transform: translateY(-50%); z-index: 9;
  font-size: 0;
  &:focus{outline: none;}
}
.slick-next{right: vw(45px);}
.slick-prev{left: vw(45px); transform: translateY(-50%) rotate(180deg);}

@media (min-width: 1600px) {
  .feedback,footer{
    .container{max-width: 1500px;}
  }
}

@media (max-width: 1600px) {
  :root{
    --border: 2px solid #000;
  }
}

@media (max-width: 1023px) {
  body{border: 2px solid;}
  header{
    .navbar{
      width: calc(100% - 1px); height: 50px; padding: 0 15px;
      .logo{width: 80px;}
    }
    .navbar-collapse{
      align-items: flex-start;
      position: fixed; top: 48px; left: -100%;
      width: 100%; height: 100%;
      border: 1px solid;
      padding: 0;
      background: #fff;
      transition: all .4s ease-out;
      z-index: 91; overflow: auto;
      &.show{left: 0;}
    }
    .navbar-toggler{
      display: block;
      width: 16px;
      height: 14px;
      padding: 0;
      background: none; border: none;
      position: absolute; right: 15px; top: 16px;
      span{
        display: block; width: 10px; height: 2px; border-radius: 2px;
        background: #000; position: absolute; top: 50%; transform: translateY(-50%); transition: .3s;
      }
      span:before,span:after{
        content: ''; display: block; width: 16px; height: 2px; background: #000; position: absolute; border-radius: 2px;
      }
      span:before{top: -6px;}
      span:after{bottom: -6px;}
    }
    .navbar-toggler.active{
      span{width: 17px; transform: rotate(45deg);}
      span:after{width: 33px;}
      span:before{top: 0;  transform: rotate(90deg);}
      span:after{opacity: 0;}
    }
    .navbar-nav{
      width: 100%;
      flex-direction: column;
      padding: 30px 0;
      > li{margin: 10px 0;}
      >*+*{margin: 22px 0 0;}
      > li > a{text-align: center; font-size: 16px; color: #000; line-height: inherit;}
      .active{border-left: none;}
      > li > .active{
        border-left: none;
        line-height: initial;
      }
      > .active{
        margin-bottom: 0;
        .sub-menu{display: block; opacity: 1; visibility: visible;}
      }
      .show-menu{display: block;}
      .sub-menu{
        display: none;
        position: relative;
        border: none;
        margin-top: 10px;
        li{padding: 2px 0;}
        a{font-size: 14px;}
      }
    }
    .form-search{
      .btn_search{width: 20px; height: 20px; margin-right: 26px;}
      &.show{
        input{width: 140px; height: 25px;}
      }
    }
  }
  .services{
    .brand,.artist{
      border: 2px solid;
      &__list{width: vw(1075px);}
    }
    .brand{border-right: 1px solid; border-left: 0;}
    .artist{border-left: 1px solid; border-right: 0;}
  }
  .feedback{
    .logo{width: initial; max-width: 40%;}
    li{width: 100%; margin-bottom: 30px;}
    h4, h4 span{font-size: 18px;}
    p{font-size: 12px;}
  }
  .modal-search{
    .form-search{
      .text{font-size: 11px; line-height: 1.3;}
    }
    .result-search{
      h5{font-size: 11px; line-height: initial;}
      &-list{
        time{font-size: 11px;}
        h3{font-size: 14px;}
      }
    }
  }
}
@media (max-width: 768px) {
  header{
    .navbar{padding: 15px;}
  }
  footer{
    padding: 20px 0;
    font-size: 18px;
    h4{font-size: 26px;}
    h5{font-size: 20px; line-height: initial; margin-bottom: 10px;}
    .row > div{margin-bottom: 30px;}
    .logo{position: relative; width: 140px; margin: 30px 0 0 0; right: initial;}
    form{
      input{
        width: 100%;
        max-width: 365px;
        height: 40px;
        padding: 0 15px;
        border: 2px solid #F7F7F7;
        font: 14px var(--GTWalsheimPro);
      }
    }
  }
}
@media (max-width: 640px) {
  body{border: 1px solid;}
  .services{
    h2.title{font-size: 30px; padding: 20px 0;}
    .brand,.artist{
      height: 120px;
      border: 1px solid;
      &__list{
        >*+*{border-top: none;}
        li{padding: 0 15px; border-bottom: 1px solid #000;}
        li:last-child{border-bottom: none;}
        a{font-size: 12px;}
      }
      h4{font-size: 20px;}
    }
    .brand{border-right: 1px solid; border-left: 0;}
    .artist{border-left: 0; border-right: 0;}
  }
  header{
    .logo{width: 80px;}
  }
  .homeslider{
    .item{
      &__content{padding: 15px;}
      &__img{height: 400px;}
      img{width: 100%; height: 100%; object-fit: cover;}
      h2{font-size: 20px;}
      p{font-size: 16px;}
    }
    .btn_explore{width: 110px; height: 40px; font-size: 16px; border-radius: 3px;}
  }
  .about{
    font-size: 18px;
    .text-run{padding: 10px 0;}
    .about__content{
      p{max-width: 90%; font-size: 14px; line-height: inherit; white-space: normal;}
    }
    .btn_close{width: 26px; height: 14px;}
    &.show{
      min-height: auto;
      .about__content{padding: 15px 0; height: auto;}
    }
  }
  .slick-arrow{width: 16px; height: 31px;}
  .modal-search{
    .form-search{
      input{height: 40px; font-size: 13px;}
    }
    .result-search{
      margin-top: 30px;
      &-list{
        .item{max-width: 100%; width: 100%;}
        .content{padding: 10px;}
      }
    }
    .close{width: 15px; height: 15px; top: 10px; right: 10px;}
  }
}
@media (max-width: 340px) {
  .homeslider{
    .btn_explore{position: relative; margin-top: 30px;}
  }
  .services{
    .brand,.artist{
      h4{font-size: 19px;}
    }
  }
}