:root{
  --green: #006633;
  --border: 3px solid #000;
  --elephant: elephant, sans-serif;
  --GTWalsheimPro:GTWalsheimPro, sans-serif;
}
body{
  width: 100%;
  background: #f4f3f6;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  color: #000;
  line-height: 1.4;
  border: vw(3px) solid #000;
  overflow-x: hidden;
  &::-webkit-scrollbar{width: 6px;}
  &::-webkit-scrollbar-track{background: #ccc;}
  &::-webkit-scrollbar-thumb{background: #888;}
}

@font-face {
  font-family: GTWalsheimPro;
  src: url("#{$font-path}/GTWalsheimProRegular.ttf");
}
@font-face {
  font-family: elephant;
  src: url("#{$font-path}/Elephant-Black.otf");
}

body.modal-open {
  overflow-y: inherit;
  padding-right: 0 !important;
}
a{transition: .15s;}
a:hover{text-decoration: none;}
img{max-width: 100%;}
h1,h2,h3,h4,h5{font-size: inherit; margin-bottom: 0;}

@mixin center{
  position: absolute; top: 50%; left: 50%;
  transform: translate(-50%,-50%);
}
@mixin text1{
  font-family: var(--GTWalsheimPro);
  font-size: vw(18px);
  line-height: vw(24px);
}

.wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header{
  width: calc(100% - 2px);
  height: vw(86px);
  position: fixed; top: 0; z-index: 9;
  background: #2D71FF;
  border-bottom: var(--border);
  border-top: var(--border);
  border-right: var(--border);
  .navbar{
    max-width: 1140px; height: 100%;
    margin: 0 auto;
    padding: 0 15px;
    .logo{display: block; width: vw(145px);}
  }
  .navbar-nav{
    flex-direction: row;
    > li{margin: 0 vw(20px); position: relative;}
    > li > a{
      display: block; padding: 0 vw(16px);
      color: #F7F7F7; font-size: vw(24px); font-weight: 700; line-height: vw(80px); text-transform: uppercase;
      border-left: vw(3px) solid transparent;
      border-right: vw(3px) solid transparent;
      position: relative; transition: color .3s;
    }
    > li:hover > a{
      border-left: var(--border);
      border-right: var(--border);
      background: #FFC91E;
      color: #000;
    }
    > li:hover .sub-menu{opacity: 1; visibility: visible;}
    > li > .active{
      border-left: var(--border);
      border-right: var(--border);
      background: #FFC91E;
      color: #000;
    }
    .sub-menu{
      margin-top: 0;
      position: absolute;
      width: 100%;
      background: #fff;
      border: var(--border);
      opacity: 0; visibility: hidden;
      transition: .25s;
      a{display: block; padding: vw(10px) 0; color: #000; font-size: vw(24px); font-weight: 700; text-align: center;}
      a:hover{background: #000; color: #fff;}
    }
    .show-menu{
      display: none;
      width: 18px; height: 15px;
      background: url("#{$img-path}/arr-down.svg") no-repeat 0 0/contain;
      position: absolute; top: 3px; right: 10px;
    }
  }
  .navbar-toggler{display: none;}
  .navbar-collapse{display: flex; flex-basis: auto;}
  .form-search{
    align-items: center;
    input{
      width: 0;
      border: none;
      height: vw(40px);
      padding: 0;
      border-radius: 4px;
      transition: .3s;
      &:focus{outline: none;}
    }

    &.show{
      input{width: vw(240px); padding: 0 10px;}
    }
  }
  .btn_search{
    width: 22px; height: 22px;
    margin-left: 5px;
    background: url("#{$img-path}/icon-search.png") no-repeat 0 0/contain;
  }
}
main{flex: 1 1 auto; padding-top: vw(83px);}
.about,.projects,.artists,.blog{
  .item{
    border: var(--border); position: relative;
    &:hover .item__name{
      background: #000; color: #fff;
      a{color: #fff;}
    }
    a{height: 100%; color: #000; display: block;}
    &__img{
      overflow: hidden;
      &--lg{height: vw(435px);}
      &--md{height: vw(512px);}
      &--sm{height: vw(545px);}
      &--xs{height: vw(530px);}
      img{transition: .5s; object-fit: cover; width: 100%; height: 100%;}
      &:hover img{transform: scale(1.04);}
    }
    &__name{
      padding: vw(11px); text-align: center; border-top: var(--border); font-size: vw(24px); font-weight: 700; transition: .2s;
      a{white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
    }
  }
}
.aboutus{
  &__header{
    padding: vw(35px) 0; max-width: vw(1410px); margin: 0 auto; text-align: center;
    h1{margin-bottom: vw(13px);font-size: vw(71px); font-weight: 700;}
    p{font: vw(36px) var(--GTWalsheimPro);}
  }
  &__mission{
    padding: vw(50px) 0 0;
    .header{
      max-width: vw(878px); margin: 0 auto vw(60px); text-align: center;
      p{font: vw(36px) var(--GTWalsheimPro);}
      .title{margin-bottom: 0; font-size: vw(40px); font-weight: 700;}
    }
    .mission{
      justify-content: space-between;
      li{text-align: center; width: 50%; margin-bottom: vw(45px);}
      li:nth-child(1) p{max-width: vw(494px);}
      li:nth-child(2) p{max-width: vw(394px);}
      li:nth-child(3) p{max-width: vw(416px);}
      li:nth-child(4) p{max-width: vw(416px);}
      h4{margin-bottom: vw(10px); font-size: vw(24px); text-transform: uppercase; font-weight: 700;}
      p{font: vw(18px) var(--GTWalsheimPro); margin: 0 auto;}
    }
  }
  &__member{padding: vw(50px) 0;}
  .artists{
    padding: 0 vw(20px);
    margin: vw(70px) 0 0;
  }
  .music{
    padding: 0 vw(20px);
    margin-bottom: vw(110px);
    .col-md-7 > *+*{margin-top: vw(18px);}
  }
  .distribution{
    margin-bottom: vw(110px);
    padding: 0 vw(20px);
    &__list{margin: 0 vw(-10px);}
    li{padding: vw(10px);}
    a{
      width: vw(750px); height: vw(300px);
      background: #FFFFFF;
      border: vw(3px) solid #000000;
      display: flex;
      align-items: center; justify-content: center;
      img{display: block; max-height: 100%; max-width: 60%; object-fit: cover;}
    }
  }
  .item{
    &:hover .item__name{
      background: #000; color: #fff;
      a{color: #fff;}
    }
    a{color: #000; display: block;}
    &__img{
      overflow: hidden;
      img{transition: .5s;}
      &:hover img{transform: scale(1.04);}
    }
    &__name{padding: vw(25px); text-align: center; border-top: var(--border); font-size: vw(36px); font-weight: 700; transition: .2s;}
  }
  .member{
    width: 25%; padding: 0 10px;
    margin-bottom: vw(45px);
    &__img{
      height: vw(415px); border: vw(3px) solid #000;
      img{height: 100%; width: 100%; object-fit: cover;}
    }
    &__info{
      border: vw(3px) solid #000;
      border-top: none;
      >*+*{border-left: vw(3px) solid #000;}
    }
    span{min-width: 40%; padding: vw(7px) vw(10px); font: vw(18px) var(--GTWalsheimPro); text-align: center;}
  }
  h2.title{font-size: vw(48px); line-height: vw(56px);}
}
.projects{
  padding: vw(32px) 15px;
  .tab{
    margin: vw(16px) 0 vw(44px);
    > *+*{margin-left: vw(21px);}
    a{
      display: block; height: vw(38px); padding: 0 vw(20px);
      border: var(--border); font: vw(24px) var(--GTWalsheimPro); color: #000;
      line-height: vw(34px);
    }
    .active{background: #000; color: #fff;}
  }
  .header{
    .category{
      margin-top: vw(17px);
      >*+*{margin-left: vw(22px);}
      a{padding: 0 vw(15px); height: vw(36px); border: var(--border);  color: #000; font: vw(24px) var(--GTWalsheimPro); line-height: vw(32px);}
      a:hover{background: #000; color: #fff;}
    }
  }
  .des{font: vw(18px) var(--GTWalsheimPro);  line-height: vw(24px);}
  .title{
    display: flex; align-items: flex-end;
    font-size: vw(72px); font-weight: 700; line-height: vw(84px);
    span{display: block; margin: 0 0 8px 5px;font: vw(24px) var(--GTWalsheimPro); line-height: vw(33px);}
  }
  .item{
    margin-bottom: 54px;
    &:hover .item__hover{
      opacity: 1; visibility: visible; z-index: 2;
      .name{transform: translateY(0);}
    }
    &__img,&__hover{height: vw(529px);}
    &__name{transition: 0s;}
    &__hover{
      width: 100%; height: 100%; padding: 0;
      background: rgba(#000,.5);
      display: flex; align-items: flex-end; justify-content: center;
      position: absolute; top: 0;
      opacity: 0; visibility: hidden; z-index: -1;
      .category{width: 100%; padding: 10px 0; background: #000; justify-content: center; z-index: 2;}
      .name{
        width: 100%; height: 100%; padding: 15px;
        position: absolute; top: 0; left: 0;
        color: #F7F7F7; text-align: center;
        font-size: vw(36px);
        text-transform: uppercase;
        font-weight: 700;
        transform: translateY(-20px);
        transition: .5s;
      }
      a{
        display: inline-block;
        height: vw(35px);
        padding: 0 vw(16px);
        margin: 0 vw(5.5px);
        font: vw(24px) var(--GTWalsheimPro);
        color: #fff;
        border: 3px solid #FFFFFF;
        line-height: vw(32px);
        &:hover{background: #fff; color: #000;}
      }
    }
  }
  .detail{
    margin-top: vw(47px);
    .summary{
      max-width: vw(905px); margin: vw(50px) auto; text-align: center;
      font: vw(24px) var(--GTWalsheimPro); line-height: vw(33px);
    }
    .btn_readmore{
      width: vw(287px); height: vw(48px); margin: vw(18px) auto 0;
      font: vw(36px) var(--GTWalsheimPro); color: #000;
      &:hover{background: #ccc;}
    }
  }
  .gallery{
    margin: 0 -10px 70px;
    &__item{
      padding: 0 10px;
      min-height: vw(531px);
      img{width: 100%; height: 100%; object-fit: cover;}
      &:nth-child(1){width: 35%;}
      &:nth-child(2){width: 65%;}
    }
  }
  .col-md-4{padding: 0 9px;}
  .row{margin: 0 -9px;}
}
.artists{
  padding: vw(32px) vw(15px);
  .header{
    margin-bottom: vw(75px);
    p{font: vw(24px) var(--GTWalsheimPro);}
  }
  .item{
    margin-bottom: vw(100px);
    &__img:hover img{transform: scale(1);}
  }
  .title{
    font-size: vw(72px); line-height: vw(84px); font-weight: 700;
    span{font-size: 12px; font-weight: 400;}
  }
  &--page{
    .item{
      &__name{background: #000;}
      &__career{
       height: vw(55px);
        font: vw(24px) var(--GTWalsheimPro);
        >*+*{border-left: var(--border);}
        span{display: block; height: 100%; text-align: center; line-height: vw(55px);}
      }
      &__hover{
        width: 100%; height: 100%; position: absolute; top: 0; left: 0;
        opacity: 0; visibility: hidden; transition: .25s;
        .name{
          width: 100%; height: 100%;
          background: rgba(31, 31, 31, 0.5); position: absolute; top: 0; left: 0;
          color: #fff; text-transform: uppercase;
          font-weight: 700;
          font-size: vw(40px);
        }
      }
      &:hover .item__hover{opacity: 1; visibility: visible;}
      .box-btn{
        padding: vw(34px) 0;
        background: #000;
        width: 100%;
        position: absolute; left: 0; bottom: 0;
        a{
          height: vw(43px); width: vw(209px);
          margin: 0 vw(12px);
          border: vw(3px) solid #FFFFFF;
          color: #fff;
          font: vw(18px) var(--GTWalsheimPro);
          text-align: center; line-height: vw(43px);
        }
        a:hover{color: #000; background: #fff;}
      }
      a{color: #fff;}
    }
  }
  .detail{
    article{max-width: vw(597px); font: vw(18px) var(--GTWalsheimPro); line-height: vw(24px);}
    .img-thumb{
      width: vw(750px); height: vw(685px); border: var(--border); margin-top: vw(75px);
      img{height: 100%; width: 100%; object-fit: cover;}
    }
  }
  .download{
    margin-top: 28px;
    a{
      align-items: center;
      max-width: vw(257px);
      height: vw(44px);
      font: vw(24px) var(--GTWalsheimPro);
      border: vw(3px) solid #000000;
      color: #000;
    }
    span{padding: 0 vw(8px);}
    .icon{
      width: vw(44px); height: 101%;
      background: url("#{$img-path}/download.svg") no-repeat center center;
      border-left: vw(3px) solid #000;
    }
  }
  .email{
    a{background: #000; padding: vw(5px) vw(10px); color: #fff; font: vw(24px) var(--GTWalsheimPro);}
  }
  .contact{
    margin-top: 26px;
    >*+*{margin-left: vw(55px);}
    a{display: block; font-size: 0;}
    .youtube{width: vw(45px); height: vw(28px); background: url("#{$img-path}/youtube.svg") no-repeat 0 0/contain;}
    .spotify{width: vw(34px); height: vw(34px); background: url("#{$img-path}/spotify.svg") no-repeat 0 0/contain;}
    .facebook{width: vw(32px); height: vw(32px); background: url("#{$img-path}/facebook.svg") no-repeat 0 0/contain;}
    .instagram{width: vw(32px); height: vw(32px); background: url("#{$img-path}/instagram.svg") no-repeat 0 0/contain;}
  }
}
.related{
  margin-top: vw(115px);
  .header{margin-bottom: 27px; }
  .title{margin-bottom: 0; font-size: vw(40px); line-height: vw(56px);}
  .item{
    &__name{
      background: #fff; text-transform: uppercase;
      a{color: #000;}
    }
  }
  .btn_more{
    width: vw(19px); height: vw(34px);
    background: url("#{$img-path}/next.svg") no-repeat 0 0/contain;
    display: block; margin-left: auto;
  }
}
.blog{
  &__banner{
    margin-bottom: vw(52px);
    border-bottom: var(--border);
    .content{
      width: 100%; height: 100%;
      padding: vw(70px) 0;
      color: #fff;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 9.12%, rgba(0, 0, 0, 0) 100%);
      display: flex; align-items: flex-end;
      position: absolute; top: 0; left: 0;
    }
    h1{font-size: vw(72px);font-weight: 700; line-height: vw(84px); text-transform: uppercase;}
    p{font: vw(20px) var(--GTWalsheimPro);}
    img{width: 100%; height: 100%; object-fit: cover;}
  }
  .col-lg-4,.col-lg-3{padding: 0 10px;}
  .post{
    margin-bottom: vw(85px);
    border: var(--border);
    &:hover{
      .post__content{background: #000; color: #fff;}
      a{color: #fff;}
      a:hover{color: #fff;}
      .category{background: #000;}
      .post__thumb::after{opacity: 1; visibility: visible;}
    }
    &--releases{
      .post__thumb{height: vw(348px);}
    }
    &__thumb{
      display: block; height: vw(490px); border-bottom: var(--border); overflow: hidden; position: relative;
      img{transition: .3s;}
      &:hover img{transform: scale(1.04);}
      &::after{
        content: "";
        width: 100%; height: 100%;
        background: rgba(#000,.2);
        position: absolute; top: 0; left: 0;
        opacity: 0; visibility: hidden; transition: .25s;
      }
    }
    &__content{padding: vw(15px) vw(20px);}
    img{width: 100%; height: 100%; object-fit: cover;}
    time,p{font-family: var(--GTWalsheimPro);}
    time{font-size: 14px;}
    p{font-size: 18px; line-height: 22px;}
    a{color: #000;}
    a:hover{color: #b0470e;}
    h3{
      min-height: vw(83px);
      margin: vw(5px) 0 vw(10px);
      font-size: vw(36px); line-height: vw(42px); font-weight: 700; text-transform: uppercase;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    p{
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
      text-overflow: ellipsis;
      min-height: vw(98px);
    }
    .category{
      border-top: var(--border);
      span{display: inline-block; padding: vw(5px) vw(18px); font: vw(24px) var(--GTWalsheimPro); border-right: var(--border);}
    }
  }
  .title{
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
  }
}
.blog-detail{
  .header{
    padding: vw(28px) 0;
    align-items: flex-start;
    p{margin-top: vw(15px);}
  }
  .content{max-width: vw(770px);}
  .category{
    margin-left: auto;
    >*+*{margin-left: vw(23px);}
    a{padding: vw(2px) vw(10px); border: var(--border); color: #000; font: vw(24px) var(--GTWalsheimPro);}
  }
  .summary{
    padding: vw(30px) 0;
    max-width: vw(905px); margin: 0 auto;
    font: vw(18px) var(--GTWalsheimPro);
    text-align: center;
  }
  .gallery{
    margin: 0 -10px 70px;
    &__item{
      padding: 0 10px;
      min-height: vw(531px);
      img{width: 100%; height: 100%; object-fit: cover;}
      &:nth-child(1){width: 35%;}
      &:nth-child(2){width: 65%;}
    }
  }
  h1{margin-bottom: vw(15px); font-size: vw(40px); text-transform: uppercase; font-weight: 700;}
  time, span,p{font: vw(18px) var(--GTWalsheimPro);}
  time{margin-right: 20px;}
}
.services{
  padding: vw(32px) 0;
  h1{margin-bottom: vw(12px); font-size: vw(72px); line-height: vw(84px); text-transform: uppercase; font-weight: 700;}
  h2.title{text-align: center; font-size: vw(40px); line-height: vw(47px);}
  .table{
    margin-bottom: -2px;
    border: var(--border);
    >*+*{border-left: var(--border);}
    &--odd{
      .item:nth-child(odd){
        h4{background: #2D71FF; color: #fff;}
      }
      .item:nth-child(even){
        h4{background: #FFC91E;}
      }
    }
    &--even{
      .item:nth-child(odd){
        h4{background: #FFC91E;}
      }
      .item:nth-child(even){
        h4{background: #2D71FF; color: #fff;}
      }
    }
    &.w50{
      .item{width: 50%;}
    }
    .item{width: 33.333%; text-align: center;}
    h4{border-bottom: var(--border); padding: vw(30px) vw(20px); text-transform: uppercase; font-size: vw(24px); line-height: vw(28px); font-weight: 700;}
    p{padding: vw(29px) vw(48px); font: vw(18px) var(--GTWalsheimPro);}
  }
}
.casestudy{
  margin: 70px 0;
  &.show{
    .casestudy__list{display: flex;}
  }
  .header{
    max-width: vw(645px);
    margin: 0 auto vw(40px);
    text-align: center;
    .title{margin-bottom: vw(20px);}
    p{@include text1;}
  }
  h4.title{
    width: vw(210px); height: vw(44px);
    margin: 0 auto -2px;
    align-items: center; justify-content: space-around;
    border: var(--border);
    font: vw(24px) var(--GTWalsheimPro);
    line-height: vw(28px);
    text-align: center; cursor: pointer;
    span{border-right: var(--border); text-align: center; width: 80%; height: 100%; line-height: vw(40px);}
    .icon{
      width: vw(23px); display: block; height: vw(15px);
      margin: 0 vw(5px);
      background: url("#{$img-path}/arr-down.svg") no-repeat 0 0/contain;
    }
  }
  &__list{
    display: none;
    .item{
      width: 25%; border: var(--border);
      .img-thumb{display: block; height: vw(377px); border-bottom: var(--border); position: relative;}
      h3{padding: vw(18px) 0; font-size: vw(24px); line-height: vw(28px); text-align: center; font-weight: 700; text-transform: uppercase;}
      h3 a{color: #000;}
      img{height: 100%; width: 100%; object-fit: cover;}
    }
    .item:nth-child(even){margin: 0 -2px;}
  }
}
.musicaudio{
  .header{
    text-align: center; margin-bottom: vw(20px);
    h2.title{margin-bottom: vw(15px);}
    p{font: vw(18px) var(--GTWalsheimPro);}
  }
  .img-list{
    &.full{
      .item{width: 100%;}
    }
    .item{width: 33.3%;}
  }
  .caption{
    width: 100%;
    margin: vw(15px) 0 vw(30px);
    text-align: center;
    font: vw(18px) var(--GTWalsheimPro);
  }
}
.booking{
  .header{
    margin-bottom: vw(40px);
    text-align: center;
    h2.title{margin-bottom: vw(15px); font-size: vw(36px);}
    p{@include text1; max-width: vw(610px); margin: 0 auto;}
  }
  figcaption{@include text1; padding: vw(15px) 0; text-align: center;}
}
.partner{
  margin-top: vw(50px);
  &__list{
    a{display: block;}
    img{-webkit-filter: grayscale(1);}
    .item:hover img{-webkit-filter: grayscale(0);}
    .item{padding: 0 15px;}
    .slick-track{display: flex; align-items: center;}
  }
}
.modal-search{
  padding-right: 0 !important;
  .modal-dialog{max-width: 100%; margin: 0; }
  .modal-content{
    width: 100%; min-height: 100vh;
    padding: vw(118px) 40px 40px;
    border: none;
    border-radius: 0;
  }
  .form-search,.result-search{width: 100%;  max-width: vw(1500px); margin: 0 auto;}
  .form-search{
    input{
      width: 100%; height: vw(99px);
      border: vw(3px) solid #000;
      font-size: vw(36px);
      color: #000;
      text-align: center;
      &::placeholder{text-transform: uppercase; color: #000;}
    }
    .text{margin: vw(15px) auto; font: vw(18px) var(--GTWalsheimPro); line-height: vw(24px); text-align: center;}
  }
  .result-search{
    margin-top: vw(70px);
    h5{margin-bottom: vw(15px); font: vw(18px) var(--GTWalsheimPro); line-height: vw(24px);}
    &-list{
      margin: 0 -10px;
      .item{max-width: 50%; padding: 0 10px; margin-bottom: 30px; justify-content: space-between;}
      .img-thumb,.content{border: vw(3px) solid #000;}
      .img-thumb{width: 33%;}
      .content{
        width: 65%; padding: vw(20px);
      }
      img{width: 100%; height: 100%; object-fit: cover;}
      time{display: block; margin-bottom: 5px; font: 14px var(--GTWalsheimPro);}
      h3{
        margin-bottom: 10px;
        flex: 1 1 auto; font-size: vw(24px); text-transform: uppercase; font-weight: 700;
      }
      h3 a{
        display: block;
        color: #000;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .category{
        display: inline-block;
        padding: vw(5px) vw(15px);
        border: vw(3px) solid #000;
        color: #000;
        font-size: vw(18px) var(--GTWalsheimPro);
        &:hover{background: #000; color: #fff;}
      }
    }
  }
  .close{
    width: vw(30px); height: vw(30px);
    background: url("#{$img-path}/close.svg") no-repeat 0 0/contain;
    position: absolute; top: vw(42px); right: vw(45px); opacity: 1;
  }
}

footer{
  padding: 40px 0;
  background: #000;
  color: #fff;
  font: vw(24px) var(--GTWalsheimPro);
  h4{
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: vw(40px);
    font-weight: 700;
  }
  h5{
    flex-basis: 100%;
    margin: vw(5px) 0 vw(12px);
    font-size: vw(24px);
    line-height: vw(28px);
    font-weight: 700;
    text-transform: uppercase;
  }
  .menu{
    li{padding: vw(2px) 0;}
    li a{color: #fff;}
  }
  .contact{
    a{display: block; color: #fff;}
  }
  .logo{display: block; width: vw(192px); margin: vw(20px) 0 0 auto; position: absolute; right: 0; top: vw(10px);}
  form{
    input{
      width: vw(365px);
      max-width: 100%;
      height: vw(45px);
      background: transparent;
      padding: 0 vw(21px);
      border: vw(3px) solid #F7F7F7;
      font: vw(18px) var(--GTWalsheimPro);
      color: #fff;
      &:focus{outline: none;}
      &::placeholder{color: #fff;}
    }
  }
}

//uikit
.pr{position: relative;}
.flex-nowrap{flex-wrap: nowrap;}
h2.title{
  margin-bottom: vw(25px);
  font-size: vw(48px);
  text-transform: uppercase;
  font-weight: 700;
}
button{
  border: none; cursor: pointer; padding: 0;
  &:focus{outline: none;}
}
.slick-arrow{
  width: vw(26px); height: vw(50px);
  background: url("#{$img-path}/next.png") no-repeat 0 0/contain;
  position: absolute; top: 50%; transform: translateY(-50%); z-index: 9;
  font-size: 0;
  &:focus{outline: none;}
}
.slick-next{right: vw(45px);}
.slick-prev{left: vw(45px); transform: translateY(-50%) rotate(180deg);}

@media (min-width: 1600px) {
  .container{max-width: 1550px;}
  header .navbar{max-width: 1550px; margin: 0 auto;}
}

@media (max-width: 1600px) {
  :root{
    --border: 2px solid #000;
  }
  .projects{
    .item{
      &__hover{
        a{border-width: 2px;}
      }
    }
  }
}
@media (max-width: 1023px) {
  :root{
    --border: 1px solid #000;
  }
  header{
    width: calc(100% - 1px); height: 50px; padding: 0 15px;
    .navbar{
      padding: 0;
      .logo{width: 80px;}
    }
    .navbar-collapse{
      align-items: flex-start;
      position: fixed; top: 48px; left: -100%;
      width: 100%; height: 100%;
      border: 1px solid;
      padding: 0;
      background: #fff;
      transition: all .4s ease-out;
      z-index: 91; overflow: auto;
      &.show{left: 0;}
    }
    .navbar-toggler{
      display: block;
      width: 16px;
      height: 14px;
      padding: 0;
      background: none; border: none;
      position: absolute; right: 0; top: 16px;
      span{
        display: block; width: 10px; height: 2px; border-radius: 2px;
        background: #fff; position: absolute; top: 50%; transform: translateY(-50%); transition: .3s;
      }
      span:before,span:after{
        content: ''; display: block; width: 16px; height: 2px; background: #fff; position: absolute; border-radius: 2px;
      }
      span:before{top: -6px;}
      span:after{bottom: -6px;}
    }
    .navbar-toggler.active{
      span{width: 17px; transform: rotate(45deg);}
      span:after{width: 33px;}
      span:before{top: 0;  transform: rotate(90deg);}
      span:after{opacity: 0;}
    }
    .navbar-nav{
      width: 100%;
      flex-direction: column;
      padding: 30px 0;
      > li{margin: 10px 0;}
      >*+*{margin: 22px 0 0;}
      > li > a{text-align: center; font-size: 16px; color: #000; line-height: inherit;}
      > li > .active{
        border-left: none;
        line-height: initial;
      }
      > .active{
        margin-bottom: 0;
        .sub-menu{display: block; opacity: 1; visibility: visible;}
      }
      .show-menu{display: block;}
      .sub-menu{
        display: none;
        position: relative;
        border: none;
        margin-top: 10px;
        li{padding: 2px 0;}
        a{font-size: 14px;}
      }
    }
    .form-search{
      .btn_search{width: 20px; height: 20px; margin-right: 26px;}
      &.show{
        input{width: 140px; height: 25px;}
      }
    }
    .btn_search{margin: 0 30px 0 0;}
  }
  main{padding-top: 50px;}
  .blog{
    .post{
      &__content{padding: 10px;}
      time,p{font-size: 12px; line-height: initial;}
      h3{min-height: 36px; margin: 5px 0; font-size: 15px; line-height: initial;}
      p{-webkit-line-clamp: 5; min-height: 80px;}
      .category span{padding: 5px 10px; font-size: 13px;}
    }
    .title{font-size: 34px;}
  }
  .blog-detail{
    .header{
      padding: 25px 0;
      .content{max-width: 80%;}
      h1{margin-bottom: 15px; font-size: 32px;}
      p,time,span{font-size: 13px;}
      p{margin-top: 15px;}
    }
    .category{
      margin: 20px 0 0 0;
      a{padding: 3px 10px; font-size: 13px;}
    }
    .gallery{
      margin: 0 -5px 40px;
      &__item{padding: 0 5px;}
    }
    p{font-size: 13px;}
  }
  .about{
    .header{
      padding: 20px 0;
      max-width: 100%;
      h1{margin-bottom: 15px; font-size: 28px;}
      p{font-size: 14px;}
    }
    .music{
      margin: 30px 0;
      .col-md-7 .item{margin-bottom: 10px;}
    }
    .distribution{margin: 30px 0;}
    h2.title{font-size: 20px; line-height: inherit;}
  }
  .artists{
    padding: 15px;
    &--page{
      .item{
        &__career{
          height: auto;
          font-size: 12px;
          span{padding: 5px; line-height: initial;}
        }
        &__hover{
          .name{font-size: 20px;}
        }
        .box-btn{
          padding: 5px 0;
          a{
            height: 26px; width: 100%; max-width: 60%;
            margin: 3px 4%;
            border: 1px solid #FFFFFF;
            font: 11px var(--GTWalsheimPro);
           line-height: 26px;
          }
        }
      }
    }
    .header{
      p{font-size: 14px;}
    }
    .title{font-size: 28px; line-height: initial;}
    .item{margin-bottom: 10px;}
    .detail{
      article{max-width: 100%; font-size: 14px; line-height: initial;}
      .img-thumb{width: 100%; height: auto; margin-bottom: 30px;}
    }
    .download{
      a{
        max-width: 205px;
        height: 40px;
        font: 18px var(--GTWalsheimPro);
        border: 2px solid #000000;
      }
      span{padding: 0 8px;}
      .icon{
        width: 40px;
        border-left: 2px solid #000;
      }
    }
    .email{
      a{padding: 5px 10px; font: 16px var(--GTWalsheimPro);}
    }
    .contact{
      >*+*{margin-left: 15px;}
      a{display: block; font-size: 0;}
      .youtube{width: vwm(45px); height: vwm(28px);}
      .spotify{width: vwm(34px); height: vwm(34px);}
      .facebook{width: vwm(32px); height: vwm(32px);}
      .instagram{width: vwm(32px); height: vwm(32px);}
    }
  }
  .projects{
    .item__hover{
      a{border-width: 2px; height: 30px; line-height: 28px;}
    }
  }
  .related{
    margin-top: 50px;
    .title{font-size: 20px; line-height: initial;}
  }
  .booking,.casestudy,.musicaudio{
    .header{
      max-width: 100%;
      h2.title{margin-bottom: 15px; font-size: 24px;}
      p{max-width: 80%; margin: 0 auto; font-size: 12px; line-height: 1.3;}
    }
  }
  .booking{
    figcaption{padding: 10px 0; font-size: 12px; line-height: 1.3;}
  }
  .casestudy{
    h4.title{
      width: 150px; height: 30px; font-size: 13px;
      span{line-height: 30px;}
      .icon{margin: 0 5px; width: 12px; height: 10px;}
    }
  }
  .musicaudio{
    .caption{font-size: 12px;}
  }
  .modal-search{
    .form-search{
      .text{font-size: 11px; line-height: 1.3;}
    }
    .result-search{
      h5{font-size: 11px; line-height: initial;}
      &-list{
        time{font-size: 11px;}
        h3{font-size: 14px;}
      }
    }
  }
  footer{
    padding: 20px 0;
    font-size: 18px;
    h4{font-size: 22px;}
    h5{font-size: 18px; line-height: initial; margin-bottom: 10px;}
    .row > div{margin-bottom: 30px;}
    .logo{position: relative; width: 140px; margin: 30px 0 0 0; right: initial;}
    form{
      input{
        width: 100%;
        max-width: 365px;
        height: 40px;
        padding: 0 15px;
        border: 2px solid #F7F7F7;
        font: 14px var(--GTWalsheimPro);
      }
    }
    .menu{
      li a{font-size: 13px;}
    }
  }
}
@media (max-width: 767px) {
  .about,.projects,.artists,.blog{
    .item{
      &__img{
        &--lg{height: vwm(300px);}
        &--md{height: vwm(280px);}
        &--sm{height: vwm(260px);}
        &--xs{height: vwm(250px);}
        &:hover img{transform: scale(1);}
      }
      &__name{
        padding: vwm(10px); font-size: vwm(20px);
      }
    }
    .row{margin-left: vwm(-5px); margin-right: vwm(-5px);}
    .col-lg-4,.col-lg-7,.col-lg-5,.col-md-6,.col-md-4,.col-md-7,.col-md-5{padding: 0 vwm(5px);}
  }
  .blog{
    &__banner{
      h1{margin-bottom: 5px; font-size: 24px; line-height: initial;}
      p{font-size: 12px;}
    }
  }
  .artists{
    .detail{flex-direction: column-reverse;}
  }
  .aboutus{
    &__header{
      max-width: 90%; padding: 30px 0;
      h1{font-size: 40px;}
      p{font-size: 14px;}
    }
    &__mission{
      padding: 40px 0;
      .header{
        max-width: 100%;
        margin-bottom: 30px;
        .title{font-size: 30px; line-height: initial;}
        p{font-size: 15px;}
      }
      .mission{
        li{width: 100%; margin-bottom: 30px;}
        li p{max-width: 100% !important;}
        h4{margin-bottom: 10px; font-size: 20px;}
        p{font-size: 13px;}
      }
    }
    .member{
      width: 50%; padding: 0 5px;
      &__img{height: 200px;}
      &__info{
        >*+*{border-left: none; border-top: 1px solid #000;}
        span{display: block; padding: 5px 10px; width: 100%; font-size: 14px;}
      }
    }
  }
  .projects{
    padding: 15px;
    .header{
      .category{
        margin-bottom: 20px;
        a{height: 30px; line-height: 28px; padding: 0 10px; font-size: 12px;}
      }
    }
    .title{
      font-size: 32px; line-height: initial;
      span{margin-bottom: 3px; font-size: 14px; line-height: initial;}
    }
    .tab{
      margin: 15px -3px;
      li{margin: 3px;}
      a{height: 26px; font-size: 15px; line-height: 26px;}
    }
    .des{
      font-size: 13px;
      line-height: inherit;
      padding-left: 0;
    }
    .detail{
      .summary{max-width: 100%; font-size: 14px; line-height: initial;}
      .gallery{
        > div{margin-bottom: 15px;}
      }
      .btn_readmore{width: 100px; height: 26px; margin: 15px auto; font-size: 15px;}
    }
    .item__hover{
      .name{font-size: 14px;}
      a{border-width: 1px; height: 22px; font-size: 12px; line-height: 20px;}
    }
  }
}
@media (max-width: 640px) {
  header{
    .logo{width: 80px;}
    .navbar-nav{
      >*+*{margin-left: 15px;}
    }
  }
  .about,.projects,.artists,.blog{
    .item{
      &__img{
        &--lg{height: vwm(400px);}
        &--md{height: vwm(380px);}
        &--sm{height: vwm(360px);}
        &--xs{height: vwm(320px);}
        &:hover img{transform: scale(1);}
      }
      &__name{
        padding: vwm(15px); font-size: vwm(24px);
      }
    }
    .row{margin-left: vwm(-10px); margin-right: vwm(-10px);}
    .col-lg-4,.col-lg-7,.col-lg-5,.col-md-6,.col-md-4,.col-md-7,.col-md-5{padding: 0 vwm(10px);}
  }
  .about{
    font-size: 18px;
    .text-run{padding: 10px 0;}
    .about__content{
      p{max-width: 90%; font-size: 14px; line-height: inherit; white-space: normal;}
    }
    .btn_close{width: 26px; height: 14px;}
    &.show{
      min-height: auto;
      .about__content{padding: 15px 0; height: auto;}
    }
  }
  .blog{
    &__banner{
      .img-wrapper img{min-height: 300px;}
    }
    .post{
      &__thumb{height: auto;}
      &--releases{
        .post__thumb{height: auto;}
      }
    }
  }
  .blog-detail{
    .header{
      .content{max-width: 100%;}
      .category{margin: 20px 0 0 0;}
    }
    .summary{padding: 20px 0; max-width: 90%;}
  }
  .projects{
    .header .des{margin: 15px 0;}
  }
  .services{
    padding: 30px 0;
    h1{margin-bottom: 20px; font-size: 30px; line-height: 1.3;}
    h2.title{font-size: 20px; line-height: 1.2;}
    .table{
      h4{font-size: 12px; line-height: inherit;}
      p{font-size: 12px;}
    }
  }
  .casestudy{
    margin: 30px 0;
    .header{margin-bottom: 20px;}
    &__list{
      .item{
        width: 100%;
        &:nth-child(even){margin: -2px 0;}
        h3{padding: 15px 10px; font-size: 12px; line-height: 1.2;}
        .img-thumb{
          padding-bottom: 56%;
          img{width: 100%; height: 100%; object-fit: cover; position: absolute; top: 0; left: 0;}
        }
      }
    }
  }
  .modal-search{
    .form-search{
      input{height: 40px; font-size: 13px;}
    }
    .result-search{
      margin-top: 30px;
      &-list{
        .item{max-width: 100%; width: 100%;}
        .content{padding: 10px;}
      }
    }
    .close{width: 15px; height: 15px; top: 10px; right: 10px;}
  }
}